#User_details_form{
    background-color: #ffffff;
    }
    
    .header{
        color: #061f5c;
    }
    
    .first_name, .last_name{
        color: brown;
    }
    
    .first_name input {
        color: red;
    }
    
    .form_buttons{
        margin-top: 20px;
    }
    
    .form_buttons .submit,{
        color: blue ;
        margin-right: 10px;
    }
    
    .form_buttons .cancel,{
        color: blue ;
    }